<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2008 - 2025 Gerits Aurelien,
 * http://www.magix-cms.com
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: february 22 12:59 2025
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Gerits Aurelien</name>
				<website href="http://www.magix-cms.com" />
			</author>
		</authors>
		<release>
			<date_create>22/02/2025</date_create>
			<version>1.0</version>
			<phase>Stable</phase>
		</release>
		<bind>
			<plugin>
				<name>cartpay</name>
			</plugin>
		</bind>
		<support>
			<ticket href="https://github.com/magix-cms/stripe/issues" />
			<git href="https://github.com/magix-cms/stripe" />
		</support>
	</data>
</config>